body {
	background-color: beige;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: rgb(0, 0, 0);
}

button {
	text-align: center;
	float: left;
	font-size: 18px;
	margin: 2px;
	padding: 2px;
	margin-left: 20px;
	background-color: rgba(208, 211, 188, 0.796);
	border-radius: 4px;
	box-shadow: 0px 0px 2px 2px;
}

button:hover {
	text-align: center;
	float: left;
	font-size: 18px;
	margin: 2px;
	padding: 2px;
	margin-left: 20px;
	background-color: rgba(162, 166, 136, 0.796);
	border-radius: 4px;
	box-shadow: 0px 0px 2px 2px;
}

h3 {
	font-size: 16px;
	float: inline-end;
	margin-right: 13%;
	margin-top: auto;
}

h6 {
	color: brown;
	font-size: 20px;
	background-color: beige;
	border-radius: 1px;
	width: 95%;
	margin: 2px;
	padding: 2px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 1px 1px;
}

p {
	color: rgb(0, 0, 0);
	font-size: 18px;
	background-color: rgb(254, 254, 219);
	width: 99%;
	margin: 5px;
	padding: 1px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 1px 1px;
	border-radius: 2px;
}

.box2 {
	color: white;
	padding-top: 12%;
	position: fixed;
	max-width: 10%;
	height: auto;
}

.header {
	background-color: rgba(209, 210, 132, 0.882);
	box-shadow: 1px 1px 1px 2px;
	height: 37px;
	border-radius: 4px;
}
.header:hover {
	background-color: rgb(215, 215, 185);
	border-radius: 4px;
}

.container {
	background-color: rgba(212, 217, 182, 0.796);
	flex-direction: column;
	box-shadow: 1px 1px 1px 2px;
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 10px 10px;
}

.content {
	width: 100%;
	height: 100%;
}

.box {
	float: left;
	padding: 10px;
	margin: 15px;
	background-color: rgba(208, 211, 188, 0.796);
	box-shadow: 1px 2px 0px 0px;
	margin-left: 15%;
	border-radius: 4px;
	width: 300px;
	height: 150px;
}

.box:hover {
	background-color: rgba(188, 191, 166, 0.796);
}

.boxreco {
	float: left;
	padding: 10px;
	margin: 15px;
	background-color: rgba(201, 207, 165, 0.796);
	box-shadow: 1px 2px 0px 0px;
	margin-left: 15%;
	border-radius: 4px;
	width: 300px;
	height: 150px;
}

.boxreco:hover {
	background-color: rgba(188, 191, 166, 0.796);
}

.recommend {
	width: 290px;
	height: 110px;
	object-fit: cover;
	box-shadow: 0px 0px 2px 2px;
	border-radius: 1px;
	background-color: rgba(217, 223, 183, 0.824);
	margin-top: 10px;
	margin-left: 5px;
}

.box img {
	width: 150px;
	height: 100px;
	object-fit: cover;
	box-shadow: 0px 0px 2px 2px;
	border-radius: 1px;
}

.input-group {
	background-color: rgba(187, 187, 138, 0.796);
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 4px;
	margin-top: 2%;
	box-shadow: 0px 0px 2px 2px;
	border-radius: 3px;
}

.input-row {
	background-color: rgba(195, 198, 160, 0.983);
	width: 27%;
	height: auto;
	margin: auto;
	padding-top: 1px;
	padding-bottom: 9px;
	margin-top: 1%;
	box-shadow: 0px 0px 2px 2px;
	border-radius: 3px;
}

.buttonsend {
	width: auto;
	height: auto;
	background-color: rgba(209, 210, 132, 0.882);
	padding-top: 10px;
	margin-left: 50%;
	margin-right: 50%;
}

.fotter {
	background-color: rgba(209, 210, 132, 0.882);
	box-shadow: 1px 1px 1px 2px;
	padding: 4px;
	height: 30px;
	float: inline-end;
	width: 100%;
	border-radius: 4px;
}
.fotter:hover {
	background-color: rgb(215, 215, 185);
	border-radius: 4px;
}

@media (min-width: 500px) {
	body {
		background-color: rgb(209, 181, 145);
	}
	.container {
		flex-direction: column;
	}
	.header {
		background-color: rgba(209, 210, 132, 0.882);
		box-shadow: 1px 1px 1px 2px;
		height: 68px;
		border-radius: 4px;
	}
	.box2 {
		color: white;
		padding-bottom: 12%;
		position: fixed;
		margin: 3%;
		max-width: 10%;
		height: auto;
	}
}

@media (min-width: 600px) {
	body {
		background-color: rgb(209, 181, 145);
	}
	.container {
		flex-direction: column;
	}
	.header {
		background-color: rgba(209, 210, 132, 0.882);
		box-shadow: 1px 1px 1px 2px;
		height: 68px;
		border-radius: 4px;
	}
	.box2 {
		color: white;
		padding-bottom: 12%;
		position: fixed;
		margin: 3%;
		max-width: 10%;
		height: auto;
	}
}

@media (min-width: 800px) {
	body {
		background-color: rgb(209, 181, 145);
	}
	.container {
		flex-direction: column;
	}
	.header {
		background-color: rgba(209, 210, 132, 0.882);
		box-shadow: 1px 1px 1px 2px;
		height: 68px;
		border-radius: 4px;
	}
	.box2 {
		color: white;
		padding-bottom: 12%;
		position: fixed;
		margin: 3%;
		max-width: 10%;
		height: auto;
	}
}

@media (min-width: 1200px) {
	body {
		background-color: rgb(209, 181, 145);
	}
	.container {
		flex-direction: column;
	}
	.header {
		background-color: rgba(209, 210, 132, 0.882);
		box-shadow: 1px 1px 1px 2px;
		height: 68px;
		border-radius: 4px;
	}
	.box2 {
		color: white;
		padding-bottom: 12%;
		position: fixed;
		margin: 3%;
		max-width: 10%;
		height: auto;
	}
}
